
@font-face {
    font-family: 'lemon';
        src: url('LEMONMILK-Regular.otf') format('truetype');
}

*  {
    margin: 0;
    padding: 0;
        font-family: 'lemon', Arial, sans-serif;
}

a {
color:#111;
text-decoration: none;
}

a:hover{
    color: #780024;
    transition: color .4s ease;
}

/* Menu */

#logo{
    font-size: 1.5rem;
    font-weight: bold;
    color:#780024;
}

#nav{

    box-sizing: border-box; /* para não somar o 70 com o 1rem */
    height: 70px;
    width: 100%;
    padding: 1rem;
    display: flex; /* Por os elementos lado a lado */
    align-items: center;
    justify-content: space-between; /* espaçamento entre os itens */
    background: #fff;
    position: fixed;
}


#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a{
    display: block;
    padding: .5rem;
}

<<<<<<< Updated upstream
#btn-mobile{
    display: none;
}

/* Content */

.twitter-tweet{
   float: right;
}

.content{
    padding-top: 2.5rem;
    margin: 3%;
}

/* Footer */
=======
>>>>>>> Stashed changes

footer{
    bottom: 0;
    left: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #780024;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

<<<<<<< Updated upstream

/* Responsividade */

@media (max-width: 600px){ 
    #menu{
      display: block; /* O display nao pode ser "none", para que ocorra a transicao o elemento ja deve existir */
      position: absolute;
      top: 70px;
      right: 0;
      width: 100%;
      transition: .5s;
      z-index: 1000; /* Para garantir que ficara por cima dos outros elementos */
      height: 0;
      visibility: hidden; /* deixar o menu "escondido" */
      overflow-y: hidden; /* esconder os elementos enquanto nao tem a altura  */
      background: #780024;
    }
    #nav.active a:hover{
        color: #ffffff;
        
    }
    #nav.active #menu{
        height: calc(100vh - 70px); /* Tirar a "sobra" // efeito da tela aumentando*/
        visibility: visible;
        overflow-y: auto; /* para criar uma barra de scroll caso os itens ultrapassem a parte de baixo */
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        justify-content: center;
        
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburger{
        display: block;
        color: #780024;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display:block;
        width: 20px;
        height: 2px;
        background: currentColor; /* tipo uma variavel que guarda o valor do #hamburger */
        margin-top: 5px;
        transition: .5s;
        position: relative; /*para o "top" abaixo funcionar */
    }

    #nav.active #hamburger{ /* Criando o X */
        border-top-color: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg); /* para virar o tracinho completando a rotacão */
    }
    #nav.active #hamburger::after{
    transform: rotate(-135deg);
    top: -7px;

    }
}

/* Scrollbar */
::-webkit-scrollbar{
    width: 10px;
    color: #fff;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #780024;
}
=======
@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    label.logo{
        font-size: 20px;
        width: 50%;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #1f4d74;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px;
     line-height: 80px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:active, a:houver{
        background: none;
        color: #1f4d74;
    }
    #check:checked ~ul {
        left: 0;
    }

    
}
>>>>>>> Stashed changes
